form{
    
    display:flex;
    flex-direction:column; 
    gap:10px;
}
.name{
    display:flex;
    gap:5px;
}
form input{
    width:200px;
    text-align:center;
}
form textarea{
    width:500px;
    height:100px;
}
form button{
    width:20%;
    padding:10px;
    background:green;
    color:white;
    border:none;
    font-size:24px;
    cursor: pointer;
    margin-left:30px;
}
.form label{
    margin-bottom:7px;
    font-weight:bold;
    font-size:15px;
}
    