body{
    background:#F6C1CC;
}
header{
    display:flex;
    flex-direction:row;
    background:pink;
    margin-bottom: 5px;
}
.footer{
    display:flex;
    gap:100px;
   text-align:center;
    margin-left:15%;
}
.copy{
   display:flex;
   gap:100px;
   margin-left:15%;
}
.header{
    height:5%;
    display:flex;
    align-items: flex-start;
    
}
.header img{ 
    margin-left:5px;
    margin-top:2px;
    margin-bottom:2px;
    margin-right:4px;
    width:8%;
    height:13%;
    border-radius:5px;

}
.header input{
    height:35px;
    margin-top:2px;
    margin-left:5px;
    width:33rem;
    text-align:center;
}
.rigth{
    display:flex;
    flex-direction:column;
   
}
.search{
    width:80px;
    height:35px;
    margin-top:5px;
    padding:10px,10px;
}
.para {
   display:flex;
   gap:40px;
   margin-top:2px;
   margin-left:20px;
   margin-bottom:2px;
   font-size:20px;
}
.para p{
    margin:0;
    white-space: nowrap;
}
.buttons{
    display:flex;
    gap:90px;
    margin-top:2px;
    margin-left:40px;
    margin-bottom:2px;
    height:30px;
    padding:50px,50px;

}

footer{
    background:pink;
}
.subsribe{
    background:indigo;
    color:white;
    font-size:  15px;
    padding:10px;
    border:none;
    border-radius:5px;
}
.subsribe:hover{
    background:rgb(149, 116, 173);
}
.cityhotel img{
    width:15%;
    height:15%;
}
.cityhotel div{
    display:flex;
}
.rating button{
    background:indigo;
    color:white;
    font-size:10px;
    border:none;
    border-radius:5px;
}
#citycenter{
    margin-left:-25px;
}
nav {
    display:flex;
    gap:75px;
    margin-left:25px;
    margin-bottom:2px;
    margin-top:5px;
}
nav a{
    font-size:20px;
}
#home,#place{
    margin-left:15px;
}
#service{
    margin-left:-10px;
}
#facilities{
    margin-left:-15px;
}
#about{
    margin-left:-20px;
}
.middle{
    display:flex;
    gap:20px;
    margin-bottom:5px;
}
.middle img{
    width:130px;
    gap:5px;
    height:190px;
    border-radius:3px;
    box-shadow: 2px,5px,5px,5px;
}
.details ,.rating{
    text-align:center;
    margin-left:15px;
    background:#f8e5f0f6;
    width:17.7%;
    border-radius:5px;
    box-shadow:0.5px 0.10px 0.10px 0.10px rgba(0,0,0,0.15);
}
.rating{
    gap:7px;
}