body{
    background:black;
    color:white;
    justify-items: center;
}
.para{
    color:black;
    background: rgb(200, 248, 232);
    border-radius:5px;
}
input[type="radio"]{
accent-color: rgb(141, 201, 219);
}